# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# Project specific
last_playlist.json

# PyInstaller
build/
dist/
*.spec

# Test files
test_*.m3u
test_*.py

# Windows
Thumbs.db
desktop.ini